@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.tree-map-svg {
  width: 100%; /* Removes default 300px <svg/> width */
  height: 100%; /* Removes default 150px <svg/> height */
  display: block; /* Removes default white space under <svg/> inline element */
}

